@import 'base/fonts.scss';

body.bal-app {
  margin: 0;
  padding: 0;
}

.bal-app {
  position: relative;

  * {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
  }

  @import './ui-library.utilities';
  @import './utilities/helpers.scss';
  @import './utilities/animations.scss';
  @import './base/all';
  @import './elements/all';
  @import 'node_modules/bulma/sass/form/_all.sass';
  @import 'node_modules/bulma/sass/grid/_all.sass';
  @import 'node_modules/bulma/sass/helpers/_all.sass';
  @import 'node_modules/bulma/sass/layout/_all.sass';

  span,
  b,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 strong {
    font-family: $family-primary;
  }
}
